---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Nav } from '../../components/Nav';

const quotes = await getCollection('quotes');

export async function getStaticPaths() {
  const quotes = await getCollection('quotes');

  return quotes.map((quote) => {
    return {
      params: { slug: quote.data.id },
      props: { quote }
    };
  });
}

const { quote: quoteInfo } = Astro.props;
const { data } = quoteInfo;
const { quotee, link, platform, id } = data;
const { Content } = await quoteInfo.render();
---

<Layout title={`${id} | Nootropic Cat Treats`}>
  <div class="container">
    <span class="quotemark-l">“</span>
    <blockquote>
      <Content />
    </blockquote>
    <cite>
      <p>{quotee}</p>
      <p>
        <a href={link}>{platform}</a>
      </p>
    </cite>
  </div>
  <Nav id={id} quotes={quotes} client:only="react" />
</Layout>
